@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Public+Sans:wght@100&family=Ruda:wght@700&display=swap');


form {
    font-family: 'Oswald', sans-serif
}

input {
    padding: 5px 4px;
    margin-top: 3px;
    line-height: 1.5em;
}

#state {
    padding: 4px;
    margin-top: 3px;
}

button[type="submit"] {
    color: white;
    background-color: #007BFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 8px 10px;
}

footer {
    width: 100%;
    background-color: green;
    height: 200px;
    bottom: 0;
    position: absolute;
}